body{
	background-image: url(background.jpg);
	display: flex;
	justify-content: center;
}
.total-container{
	border-radius: 10%;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin-top: 10%;
	max-width: 600px;
	min-width: 360px;
}
header{
	text-align: center;
	font-size: 1.8rem;
	margin-top: 16px;
	padding: 20px;
	color: white;
	font-weight: bold;
}
.content{
	width: 90%;
	background-color: lightgray; 
}
.explain{
	color: white;
	text-align: center;
}
.explain p{
	margin-bottom: 0px;
}

.button_container{
	text-align: center;
	margin-bottom: 20px;
}

#anxiety{
	background-color: lightpink;
	border: none;
	color: black;
	padding: 5px 20px;
	margin: 5px auto;
}
#exciting{
	background-color: lightblue;
	border: none;
	color: black;
	padding: 5px 20px;
	margin: 5px auto;
}
#depression{
	background-color: lightgreen;
	border: none;
	color: black;
	padding: 5px 20px;
	margin: 5px auto;
}
.result_container{
	display: flex;
	justify-content: center;
    align-items: center;
}

#result{
	background-color: white;
	width: 80%;
	font-weight: bold;
	border-color: lightblue; 
	border-style: dashed; 
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px 10px;
	text-align: center;
	border-radius: 5px;
}